.mb_{
  &0{
    margin-bottom: 0 !important;
  }

  &5{
    margin-bottom: 5px !important;
  }

  &15{
    margin-bottom: 15px !important;
  }

  &20{
    margin-bottom: 20px !important;
  }

  &30{
    margin-bottom: 30px !important;
  }
}

.ms_{
  &0{
    margin-left: 0 !important;
  }

  &5{
    margin-left: 5px !important;
  }  

  &10{
    margin-left: 10px !important;
  }
}

.mt_27{
  margin-top: 27px !important;
}

.my_10{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

@media(min-width: 576px){
  .mb-sm{
    &_0{
      margin-bottom: 0 !important;
    }

    &_20{
      margin-bottom: 20px !important;
    }
  }

  .ms-sm_9{
    margin-left: 9px !important;
  } 

}

@media(min-width: 1200px){
  .pe-xl_40{
    padding-right: 40px !important;
  }

  .mb-xl_0{
    margin-bottom: 0 !important;
  }
}