.header-main{
  background-color: $black;
  padding: 11px 0;

  a{
    color: white;
    font-size: remCalc(15);
    margin-left: 45px;
  }
}

.white-theme{
  .header-main{
    background-color: white;

    a{
      color: $black;
    }
  }
}

.header-main-logo{
  a{
    display: inline-block;
    margin: 0;
  }

  img{
    width: 110px;
  }
}

.header-user{
  width: 33px;
  height: 33px;
  display: inline-block;
  border-radius: 50%;
  background-color: $green-light;
  margin-right: 10px;
}

@media(max-width: 575px){
  .header-main{
    text-align: center;

    a{
      font-size: remCalc(18);
    }
  }

  .header-main-logo{
    margin: 10px 0 20px;
  }

  .header-right-menu{
    margin-bottom: 10px;
  }
}