.icon-eye{
  display: inline-block;
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 35px auto;
  background-image: url('../images/icons/eye.png');
  cursor: pointer;
}