doctype html
html(lang='en')
  head
    include ./common/meta
    title Vicaso

    include ./common/links

  body.dark-theme
    include ./layouts/header-2

    main
      .container
        .gallery
          .row.gap-10.mx_0
            .gallery-item(style="background-image: url('./images/content/gallery-1.jpg')")
              .gallery-text 17841 Woodside Avenue
            .gallery-item(style="background-image: url('./images/content/gallery-2.jpg')")
              .gallery-text 17841 Woodside Avenue
            .gallery-item(style="background-image: url('./images/content/gallery-3.jpg')")
              .gallery-text 17841 Woodside Avenue
            .gallery-item(style="background-image: url('./images/content/gallery-4.jpg')")
              .gallery-text 17841 Woodside Avenue
            .gallery-item(style="background-image: url('./images/content/gallery-5.jpg')")
              .gallery-text 17841 Woodside Avenue
            .gallery-item(style="background-image: url('./images/content/gallery-6.jpg')")
              .gallery-text 17841 Woodside Avenue

    include ./layouts/footer-3
    script(src="./vendors/bootstrap/bootstrap.bundle.min.js")