doctype html
html(lang='en')
  head
    include ./common/meta
    title Vicaso

    include ./common/links

  body.white-theme
    include ./layouts/header-2

    main
      .container
        .profile
          
    include ./layouts/footer-2