footer.footer-main
  .container
    nav
      ul
        li
          a(href="#") Home
        li
          a(href="#") FAQ’s
        li
          a(href="#") Shoot for Us
        li
          a(href="#") Support