footer.footer-main.footer-main-2
  .container
    nav
      ul
        li
          a(href="#") Home
        li
          a(href="#") My Orders
        li
          a(href="#") New Order
        li
          a(href="#") Profile
        li
          a(href="#") Billing
        li
          a(href="#") Support