header.header-main.header-main-2
  .container
    .row.align-items-center.justify-content-between
      .col-sm-auto.header-main-logo
        a(href="/")
      .col-sm-auto.header-right-menu
        .dropdown
          a.d-inline-flex.align-items-center.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false") 
            span.header-user
            | Marilyn
          ul.dropdown-menu(data-bs-popper="static")
            li
              a.dropdown-item(href="#") My Orders
            li
              a.dropdown-item(href="#") New Order
            li
              a.dropdown-item(href="#") Credits!
            li
              a.dropdown-item(href="#") Client Pitch Page
            li
              a.dropdown-item(href="#") Profile
            li
              a.dropdown-item(href="#") Help
            li
              a.dropdown-item(href="#") Logout
