header.header-main
  .container
    .row.align-items-center.justify-content-between
      .col-sm-auto.header-main-logo
        a(href="/")
          img(src="./images/common/vicaso_logo_white.png", alt="")
      .col-sm-auto.header-right-menu
        a.ms_0(href="./sign-in.html") Login
        a.btn.btn-grey.btn-medium(href="#") Order