header.header-main
  .container
    .row.align-items-center.justify-content-between
      .col-sm-auto.header-main-logo
        a(href="/")
      .col-sm-auto.header-right-menu
        a.d-inline-flex.align-items-center(href="#") 
          span.header-user
          | Marilyn
